table, td, tr, th{
	border-collapse: collapse;
	border: 1px solid black;
	padding: 7px;
	font-size: 17px;
	font-family: Arial;
	}
th{
	text-align: center;
	width: 20%;
	background: #000000;
	color: #FFFFFF;
}
table {
	margin-left:auto; 
    margin-right:auto;
}

.lastcolumn {
	text-align: right;
}