<link rel="stylesheet" type="text/css" href="style.css">
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th> 
    <th>Email</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>John</td>
    <td>Smith</td> 
    <td>john.smith@yahoo.com</td>
    <td class="lastcolumn">92</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>Doe</td> 
    <td>jane_doe@gmail.com</td>
    <td class="lastcolumn">95</td>
  </tr>
  
</table>